.productContainer {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1000px;
}

.noResult {
    margin-bottom: 20px;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0));
    flex-wrap: wrap;
    height: auto;
    /* margin: auto; */
}

.pageButtonContainer {
    display: inline-flex;
    /* margin: 15px auto; */
    /* margin-top: 15px; */
    justify-content: center;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    border-width: 1px;
}