.gimmickContainer {
    display: flex;
}

.gimmickItem {
    padding: 20px;
    margin: auto;
    /* width: 300px; */
    width: 100%;
    /* width: 25%; */
    /* height: 100px; */
    
}

.gimmickItem1, .gimmickItem2, .gimmickItem3 {
    border-right: 1px solid black;
}

.gimmickImg {
    height: 50px;;
}

.gimmickTitle {
    /* font-size: 20px; */
    margin: auto;
}