html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: "Goudy Bookletter 1911", sans-serif;
}

body {
    background-color: #ffecd4;
    margin: 0;
    padding: 0;
}

div {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-size: 20px;
}

button {
    width: 100%;
    margin: 10px auto;
    display: block;

    padding: 7px;
    
    border-style: solid;
    border-color: grey;
    border-width: 1;
    border-radius: 5px;
    border-width: 1px;
    
    font-size: 20px;
    color: black;
}

button:hover {
    background-color: #d8d0d09c;
}

input {
    width: 100%;
    margin: 5px 0;

    padding: 5px;

    border-style: solid;
    border-color: grey;
    border-width: 1;
    border-radius: 5px;
    border-width: 1px;
    
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:link{
    color:black;
}

a:visited {
    color: inherit;
}

span, a {
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    font-size: 17px;
    border-radius: 7px;
    text-align: center;
}

a:hover {
    background-color: #d8d0d09c;;
}

.page {
    display: block;
    min-height: 80vh;
    max-width: 1200px;
    min-width: 600px;
    height: auto;
    margin: 0 auto 0 auto;
    
    justify-content: center;
    text-align: center;
}

.form {
    text-align: left;
    margin: auto;
    margin-top: 10px;
    width: 500px;
}

.nowrap {
    display: inline-block;
}

.error {
    color: red;
}

.btnInput:hover {
    background-color: #d8d0d09c;
}

h1 {
    margin: 0;
}
