.intro {
    display: inline-block;
    margin: auto;
    text-align: left;
}

.description {
    margin: 5px auto 5px 40px;
}

.home {
    min-height: 80vh;
    /* background: linear-gradient(to right, black 10%, #e8dccc 10% 30%, rgba(255, 255, 255, 0.411) 30% 90%, black 90%); */
    background: linear-gradient(to right, #e8dccc 30%, transparent 30%);
}

@media (min-width: 601px) and (max-width: 1024px) {
    .home {
        background: linear-gradient(to right, #e8dccc 25%, transparent 25%);
    }
}

.profile {
    padding: 10px;
    padding-top: 100px;
    margin: auto;
    display: flex;
}

.profileCard {
    width: 30%;
    width: 350px;
    height: 500px;
    background-color: #f8ece4;
    border-radius: 10px;
    box-shadow: -20px 13px 17px 0px rgba(138, 131, 124, 0.23);
    padding-top: 20px;
    margin-left: auto;
}

.profileImg {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.profileName {
    width: 100px;
    margin: auto;
    display: flex;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 75px;
}

.profileLinks {
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding: 5px 75px; 
}

.profileIcon {
    width: 40px;
    height: 40px;
    margin: auto;
}

.profileIcon:hover {
    cursor: pointer;
    background-color: inherit;
}

.profileDescription {
    max-width: 650px;
    min-width: 300px;
    padding: 50px;
    padding-right: 10px;
    padding-top: 30px;
    text-align: left;
    margin-right: auto;
}

.profileTitle {
    font-size: 75px;
    font-weight: 1000;
    margin-bottom: 20px;
}

.profileSubTitle {
    font-size: 40px;
    font-weight: 750;
    margin-bottom: 10px;
}

.profileNav {
    display: flex;
    margin-bottom: 20px;
}

/* .profileResumeDownload {
    background-color: #0050ff;
    border-radius: 10px;
    border-width: 2px;
} */

.profileResumeDownload {
    
    width: 175px;
    height: 50px;
    margin-left: 0;
    /* padding-left: 40px; */

    background-color: #0050ff;
    border-radius: 25px;
    border-width: 2px;
    border-color: #0050ff;
    color: white;
}

.profileResumeDownload:visited {
    color: white;
}

.profileResumeDownload:hover {
    cursor: pointer;
    border: solid;
    border-width: 2px;
    border-color: #0050ff;
    color: black;
    background-color: transparent;
}

.profileProjectNav {
    
    width: 175px;
    height: 50px;
    margin-left: 20px;
    /* padding-left: 40px; */

    border-color: black;
    border-width: 2px;
    background-color: transparent;
    border-radius: 25px;
    border-width: 2px;
    color: black;
    border-style: solid;
}

.profileProjectNav:visited {
    color: black;
}

.profileProjectNav:hover {
    cursor: pointer;
    border: solid;
    border-width: 2px;
    border-color: #0050ff;
    color: white;
    background-color: #0050ff;
}