.profileFooter {
    /* position: fixed; */
    display: flex;
    width: 100%;
    height: 10vh;
    bottom: 0;
    left: 0;
    background-color: white;
    justify-content: right;
}

.profileFooterBox {
    width: 250px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 27px;
}

.profileFooterBoxTitle {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
}

.profileFooterBoxContent {
    font-size: 14px;
}

.profileFooterBoxContent:hover {
    background-color: transparent;
}

.profileFooterLink {
    display: flex;
    width: 100px;
    margin: auto;
}

.profileIcon {
    width: 20px;
    height: 20px;
    margin: auto;
}

.profileIcon:hover {
    background-color: transparent;
}